*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk';
}

body{
    background-color: lightblue;
    color: blue;
}

h1{
    font-size: 2.8rem;
    margin-bottom: 1rem;
}

h2{
    font: 2.1rem;
    margin-bottom: 2rem;
}

p{
    margin-bottom: 2rem;
}

header{
    background-color: rgb(221, 221, 138);
    padding: 2rem;
    text-align: center;
}

/* mobile size */
.container{
    max-width: 540;
    margin: 0 auto;
}

.character{
    border: 1px solid blue;
    height: 6rem;
    width: 6rem;
    background-color: rgba(0, 0, 255, 0.385);
    border-radius: 100%;
    overflow: hidden;
}

.character > img{
    max-width: 100%;
}

.characters{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;
    padding: 3rem 0.5rem;
}